nvidia-ml-py==12.570.86
py-cpuinfo==9.0.0
hjson==3.1.0
deepspeed==0.16.4
smmap==5.0.2
xxhash==3.5.0
wandb==0.19.8
docker-pycreds==0.4.0
setproctitle==1.3.5
GitPython==3.1.44
sentry-sdk==2.22.0
dill==0.3.8
trl==0.15.2
multiprocess==0.70.16
gitdb==4.0.12
pyarrow==19.0.1
accelerate==1.5.2
datasets==3.4.0
transformers==4.49.0
safetensors==0.5.3
tokenizers==0.21.0
huggingface-hub==0.29.2
transformer-engine==1.7.0+4e7caa1
einops==0.8.0
flash-attn==2.4.2
torch-tensorrt==2.4.0a0
sphinx_glpi_theme==0.6
pytorch-quantization==2.1.2
polygraphy==0.49.11
nvidia-modelopt==0.11.2
nvidia-pyindex==1.0.9
prettytable==3.10.0
tensorrt==10.1.0
cugraph-pyg==24.4.0
treelite==4.1.2
partd==1.4.2
cugraph-dgl==24.4.0
dask-cudf==24.4.0
pandas==2.2.1
async-timeout==4.0.3
ucx-py==0.37.0
ply==3.11
nvtx==0.2.5
cugraph==24.4.0
frozenlist==1.4.1
cugraph-service-server==24.4.0
cugraph-equivariant==24.4.0
tblib==3.0.0
dask-expr==0.4.0
entrypoints==0.4
dask-cuda==24.4.0
cudf==24.4.0
yarl==1.9.4
pytz==2024.1
nx-cugraph==24.4.0
aiosignal==1.3.1
zict==3.0.0
cugraph-service-client==24.4.0
fasteners==0.19
urllib3==2.0.7
pylibcugraph==24.4.0
thriftpy2==0.5.0
scipy==1.13.1
importlib_metadata==7.1.0
rich==13.7.1
multidict==6.0.5
grpcio==1.62.1
asciitree==0.3.3
rapids-dask-dependency==24.4.0a0
pylibcugraphops==24.4.0
toolz==0.12.1
tzdata==2024.1
distributed==2024.1.1
cloudpickle==3.0.0
zarr==2.18.2
aiohttp==3.9.5
zipp==3.19.0
pylibraft==24.4.0
cupy-cuda12x==13.0.0
cuml==24.4.0
typing_extensions==4.12.0
xgboost==2.0.3
locket==1.0.0
kvikio==24.4.0
pynvml==11.4.1
numcodecs==0.11.0
rmm==24.4.0
fsspec==2024.5.0
raft-dask==24.4.0
pylibwholegraph==24.4.0
pynvjitlink==0.2.3
fastrlock==0.8.2
dask==2024.1.1
cuda-python==12.5.0
tabulate==0.9.0
pybind11_global==2.12.0
torchvision==0.19.0a0
onnx==1.16.0
apex==0.1
nvidia-cudnn-frontend==1.3.0
ninja==1.11.1.1
kiwisolver==1.4.5
pycocotools==2.0+nv0.8.0
pillow==10.3.0
matplotlib==3.9.0
fonttools==4.53.0
contourpy==1.2.1
pyparsing==3.1.2
cycler==0.12.1
dm-tree==0.1.8
gast==0.5.4
nvidia-dali-cuda120==1.38.0
nvidia-nvimgcodec-cu12==0.2.0.7
pytorch-triton==3.0.0+989adb9a2
optree==0.11.0
lintrunner==0.12.5
types-dataclasses==0.6.6
mpmath==1.3.0
networkx==3.3
torch==2.4.0a0+f70bd71a48.nv24.6
sympy==1.12.1
filelock==3.14.0
opencv==4.7.0
jupyter-tensorboard==0.2.0
jupytext==1.16.2
mdit-py-plugins==0.4.1
mdurl==0.1.2
markdown-it-py==3.0.0
Send2Trash==1.8.3
parso==0.8.4
pyasn1==0.6.0
jupyterlab_pygments==0.3.0
python-hostlist==1.23.0
python-dateutil==2.9.0.post0
stack-data==0.6.3
oauthlib==3.2.2
absl-py==2.1.0
prometheus_client==0.20.0
rsa==4.9
jupyter_core==5.7.2
tinycss2==1.3.0
prompt_toolkit==3.0.45
comm==0.2.2
nbconvert==7.16.4
google-auth-oauthlib==0.4.6
bleach==6.1.0
google-auth==2.29.0
tensorboard==2.9.0
jsonschema==4.22.0
ipython==8.21.0
rpds-py==0.18.1
nbformat==5.10.4
soupsieve==2.5
notebook==6.4.10
beautifulsoup4==4.12.3
psutil==5.9.8
tornado==6.4
jedi==0.19.1
argon2-cffi==23.1.0
defusedxml==0.7.1
wcwidth==0.2.13
nest-asyncio==1.6.0
Markdown==3.6
jsonschema-specifications==2023.12.1
webencodings==0.5.1
debugpy==1.8.1
Pygments==2.18.0
jupyterlab-server==1.2.0
nbclient==0.10.0
pandocfilters==1.5.1
Werkzeug==3.0.3
pyasn1_modules==0.4.0
asttokens==2.4.1
tensorboard-plugin-wit==1.8.1
fastjsonschema==2.19.1
pexpect==4.9.0
ipython-genutils==0.2.0
jupyter_client==8.6.2
referencing==0.35.1
argon2-cffi-bindings==21.2.0
pyzmq==26.0.3
jupyterlab==2.3.2
pure-eval==0.2.2
json5==0.9.25
requests-oauthlib==2.0.0
traitlets==5.9.0
executing==2.0.1
ptyprocess==0.7.0
terminado==0.18.1
cachetools==5.3.3
mistune==3.0.2
ipykernel==6.29.4
matplotlib-inline==0.1.7
tensorboard-data-server==0.6.1
six==1.16.0
exceptiongroup==1.2.1
cffi==1.16.0
pooch==1.8.1
marisa-trie==1.1.1
MarkupSafe==2.1.5
llvmlite==0.42.0
msgpack==1.0.8
pytest-shard==0.1.2
expecttest==0.1.3
decorator==5.1.1
idna==3.7
audioread==3.0.1
iniconfig==2.0.0
typer==0.9.4
blis==0.7.11
pytest-flakefinder==1.1.0
threadpoolctl==3.5.0
scikit-learn==1.5.0
pycparser==2.22
Jinja2==3.1.4
Cython==3.0.10
numpy==1.24.4
soundfile==0.12.1
weasel==0.3.4
platformdirs==4.2.2
cymem==2.0.8
srsly==2.4.8
click==8.1.7
pydantic_core==2.18.4
packaging==24.0
cloudpathlib==0.16.0
numba==0.59.1
spacy-legacy==3.0.12
execnet==2.1.1
pytest-xdist==3.6.1
charset-normalizer==3.3.2
soxr==0.3.7
regex==2024.5.15
preshed==3.0.9
murmurhash==1.0.10
protobuf==4.24.4
mkl-include==2021.1.1
pydantic==2.7.3
astunparse==1.6.3
catalogue==2.0.10
PyYAML==6.0.1
mock==5.1.0
requests==2.32.3
certifi==2024.6.2
language_data==1.2.0
thinc==8.2.3
attrs==23.2.0
pluggy==1.5.0
spacy-loggers==1.0.5
tbb==2021.12.0
wasabi==1.1.3
mkl==2021.1.1
annotated-types==0.7.0
hypothesis==5.35.1
langcodes==3.4.0
librosa==0.10.1
tqdm==4.66.4
intel-openmp==2021.4.0
pybind11==2.12.0
spacy==3.7.4
tomli==2.0.1
sortedcontainers==2.4.0
pytest-rerunfailures==14.0
confection==0.1.5
joblib==1.4.2
xdoctest==1.0.2
pytest==8.1.1
smart-open==6.4.0
mkl-devel==2021.1.1
lazy_loader==0.4
setuptools==68.2.2
cmake==3.29.3
wheel==0.43.0
pip==24.0
nvfuser==0.2.3a0+f73ff1b
lightning-thunder==0.2.0.dev0
opt-einsum==3.3.0
igraph==0.11.5
lightning-utilities==0.11.2
looseversion==1.3.0
texttable==1.7.0